{% extends 'navbar.html' %}
{% block content %}
{% load static %}
{% comment %} {% static "images" as baseUrl %} {% endcomment %}

  <div class="main">
    <div class="main__container">
      <div class="main__content">
        <h1>A Github Bot App</h1>
        <h2>For automating work flow</h2>
        <p>Check the github Repository.</p>
        <button class="main__btn"><a href="https://github.com/vasu-1/GithubBotApp">Repository</a></button>
      </div>
      <div class="main__img--container">
        <img id="main__img" src="https://user-images.githubusercontent.com/76911582/154839659-13d52d55-23f4-4f38-8e43-c9332bb35df7.jpg" />
      </div>
    </div>
  </div>

  <div class="main">
        <center>
            <h2 id="features" class="header text-light">Features</h2>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Cras justo odio
                  <span class="badge badge-primary badge-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Dapibus ac facilisis in
                  <span class="badge badge-primary badge-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Morbi leo risus
                  <span class="badge badge-primary badge-pill">1</span>
                </li>
            </ul>
        </center>
  <div>
    
    {% comment %} <h1>{{user1.username}}</h1> {% endcomment %}



<script>

   if({{user1.username}}) 
   {
    document.getElementById("user").innerHTML = "{{user1.username}}"   
   }
     
</script>    
    
{% endblock %}